/* header */
.header-section {
    padding: 60px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu {
    margin-left: 200px;
    margin-right: 80px;
}
.main-menu ul {
    display: flex;
}
.main-menu ul li {
    margin-right: 60px;
}
.main-menu ul li:last-child {
    margin-right: 0;
}
.main-menu ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}
.main-menu ul li a:hover,.main-menu ul li a.active {
    color: var(--theme__color1);
}
.header-social {

}
.header-social ul {
    display: flex;
}
.header-social ul li {
    margin-right: 30px;
}
.header-social ul li:last-child {
    margin-right: 0;
}
.header-social ul li a {
    font-size: 22px;
    transition: 0.3s;
}
.header-social ul li a:hover {
    color: var(--theme__color1);
}
.header-last-button {
    margin-left: 60px;
}
/* header-end */



  
/* ---offcanvas-css--- */
.offcanvas-open {
    font-size: 22px;
    transition: 0.3s;
  }
  .offcanvas-open:hover {
    color: #97A3AE;
  }
  .offcanvas-close {
    color: var(--theme__color1);
    position: absolute;
    transition: 0.3s;
    right: 25px;
    top: 25px;
  }
  .offcanvas-close:hover {
    color: #97A3AE;
  }
  .offcanvas-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-105%);
    transition: 0.3s;
  }
  .offcanvas-menu.active {
    transform: translate(0);
  }
  .offcanvas-menu .offmenu {
    max-width: 250px;
    min-width: 200px;
    z-index: 5;
    position: relative;
    background: #141c24;
    height: 100%;
    padding: 50px 20px 40px;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .offcanvas-menu .offmenu :-webkit-scrollbar {
    display: none;
  }
  .offcanvas-menu ul li a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: var(--theme__color1);
    padding: 10px;
  }
  .dropdown-menu-custom ul {
    background: #fff;
    padding: 20px 0;
  }
  .dropdown-menu-custom ul li a {
    color: #97A3AE;
  }
  .offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.178);
    z-index: 2;
    transform: 0;
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .offcanvas-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  /* ---offcanvas-css-end---*/


/* -----light-version----- */
.light-page .header-section {
  background-color: #1d2731;
  padding: 20px 0;
}
.light-page .main-menu ul li a {
  color: #fff;
}
.light-page .header-social ul li a {
  color: #fff;
}


.light-page .offcanvas-menu .offmenu {
  background: #fff;
}
/* -----light-version-----end */
  